html, body{
    height: 100%;
    font-family: sans-serif;
    background-color:#a3ccff;   
}
header{
    width:100%;
    height:100px;
    background-color:yellow;
    text-align:center;
    box-shadow: 0px 10px 5px grey;
    h1{
        color:red;
        font-size:2em;
        font-weight:bold;
        line-height: 100px;
    }
}
#delete{
    position:fixed;
    height:40px;
    width:40px;
    right:20px;
    top:20px;
    background-color:red;
    border-radius:20px;
    border:solid 2px white;
    text-align:center;
    display:none;
    font-size:2.3em;
    font-weight:bold;
    color:white;
    line-height:33px;
    cursor: pointer;
    
}
nav{
    width:100%;
    height:40px;
    margin-top:15px;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    p{
        display:none;
        font-size: 1.2em;
        background-color:yellow;
        color:red;
        line-height:40px;
        padding-left: 10px;
        padding-right: 10px;
    }
    button{
        width:250px;
        height:30px;
        text-align:center;
        background-color:red;
        color:yellow;
        border:initial;
        font-size: 1.2em;
    }
    #creerFestival, #UtilisateurParticipe{
        display:none;
    }

}
#blocCarte{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width:100%;
    margin-top:5px;
    #choix
    {
        width:20%;
        height: 600px;
        background-color:yellow;
        h1{
            height:50px;
            font-size:1.5em;
            font-weight:bolder;
            text-align: center;
            line-height:56px;
            color:red;
        }
        p{
            color:red;
            margin:5px;
            text-align: justify;
        }
        #iconne{
            width:100%;
            height:450px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: space-around;
            button{
                margin-left:15px;
                margin-right:15px;
                border-radius:15px;
            img{
                float:left;
                width:32px;
                height:32px;
            }
            p{
                float:right;
                font-size:1.7em;
                font-weight:bold;
            }
        }
        }
    }
    #map{
        width:80%;
        height:600px;
        
    }
}
#form{
  display:none;
  width:90%; 
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  margin-top:5px;
  background-color:yellow;
  color:red;
  padding:5px;
  label{
      width:calc(50% - 40px);
      margin-left:20px;
      margin-right:20px;
    input[type="text"]{
          float:right;
          width:250px;
        }
        select{
            float:right;
            width:250px;
        }
    }  
}
#blocUtilisateur{
    position: absolute;
    background-color:rgba(255, 255, 255, 0.50);
    padding-top:10px;
    padding-bottom:10px;
    width:248px;
    border:solid 1px black;
    z-index:10;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    label{

        width:calc(100% - 10px);
        
        margin-left:5px;
        margin-right:5px;
        margin-bottom:10px;
        text-align: center;
    }
}
#info{
    background-color:yellow;
    color:red;
    padding:5px;
    text-align: center;
    h1{
        font-size:1.2em;
        font-weight:bold;
    }
    button{
        width:100%;
        background-color:red;
        color:yellow;
        
    }
    
    #participe2{
        display:none;
        background-color:red;
        color:yellow;
    }
    #encours{
        display: none;
        background-color:green;
        color:white;
    }
}
#blocLogin{
    position: fixed;
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(245, 212, 151, 0.5);
    z-index:1000;
    
    div{
        width:500px;
        height:250px;
        background-color:#0128A8;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around;
        label{
            color:white;
        }
        span{
            display:flex;
            flex-wrap:wrap;
            justify-content: space-between;
            margin-left:15px;
            margin-right:15px;    
        }
        button{
            margin-left:25px;
            margin-right:25px; 
            height:25px;
            border-radius:10px;
            background-color:white;
            font-size:1em;
            font-weight:bold;
            color:#0128A8;
            line-height:18px;
        }
        
    }
    #creerSonCompte{
        display:none;
    }
}